[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "src/lib/base64"]
	path = src/lib/base64
	url = https://github.com/tkislan/base64
